
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: ips.cf.containeroo.ch
spec:
  group: cf.containeroo.ch
  names:
    kind: IP
    listKind: IPList
    plural: ips
    singular: ip
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.address
      name: Address
      type: string
    - jsonPath: .spec.type
      name: Type
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: IP is the Schema for the ips API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: IPSpec defines the desired state of IP
            properties:
              address:
                type: string
              dynamicIpSources:
                items:
                  type: string
                type: array
              interval:
                type: string
              type:
                default: static
                enum:
                - static
                - dynamic
                type: string
            type: object
          status:
            description: IPStatus defines the observed state of IP
            properties:
              lastObservedIP:
                type: string
            required:
            - lastObservedIP
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
