---
name: golangci-lint

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - .github/**

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --issues-exit-code=0 --timeout=5m ./...
